.sub-title {
  font-size: var(--font-x-large);
  font-weight: var(--weight-light);
  margin-bottom: 40px;
}

/* Skill */
.skill-list-container {
  display: grid;
  grid-template-columns: var(--grid-columns);
  grid-template-areas: 'type type type item item item item item item item item item';
  gap: var(--grid-column-gap);
  margin-bottom: 36px;
}

.skill-title {
  font-size: var(--font-large);
  font-weight: var(--weight-light);
  color: var(--color-gray);
  grid-area: type;
  line-height: var(--line-height-narrow);
}

.skill-list {
  grid-area: item;
  position: relative;
  top: 2px;
}

.skill-item {
  display: inline-block;
  color: var(--color-black);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  border-radius: var(--font-regular);
  padding: 4px var(--font-regular);
  margin-right: var(--font-regular);
  margin-bottom: var(--font-regular);
  transition: all 200ms cubic-bezier(0, 0.93, 0.225, 0.905);
}

.skill-item:hover {
  color: var(--color-white);
  border-color: var(--color-black);
  background-color: var(--color-black);
  cursor: pointer;
}

/* Education */
.education-item {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: 'title title title . date date date';
  gap: var(--grid-column-gap);
  margin-bottom: 0.7em;
}

.education-title {
  grid-area: title;
}

.education-duration {
  grid-area: date;
  color: var(--color-gray);
  text-align: right;
}

.education-timeline-wrapper {
  width: 100%;
}
