.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: 'title content content content content content content content';
  gap: var(--grid-column-gap);
  margin-bottom: 160px;
}

.sub-title {
  grid-area: title;
  letter-spacing: 0.02em;
}

.content {
  grid-area: content;
}

/* Contact */
.contact {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2em;
  flex-wrap: wrap;
}

.contact-type {
  color: var(--color-gray);
}

.contact-value {
  margin-top: 0.5em;
  font-weight: var(--weight-regular);
}

/* Skill */
.skill {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.skill-item {
  width: 68px;
}

.skill-icon {
  display: block;
  width: 100%;
  height: auto;
}

.skill-name {
  margin-top: 8px;
  width: 100%;
  text-align: center;
  font-size: var(--font-small);
  line-height: 1.2em;
  grid-area: title;
}

/* Education */
.education-item {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: 'title title title . date date date';
  gap: var(--grid-column-gap);
  margin-bottom: 0.7em;
}

.education-title {
  grid-area: title;
}

.education-duration {
  grid-area: date;
  color: var(--color-gray);
  text-align: right;
}
