@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  unicode-range: U+AC00- U+D7A3;
  src: url('/static/fonts/spoqa-han-sans-neo/SpoqaHanSansNeo-Light.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+AC00- U+D7A3;
  src: url('/static/fonts/spoqa-han-sans-neo/SpoqaHanSansNeo-Regular.woff2')
    format('woff2');
}
