.header {
  position: sticky;
  top: 0;
  left: 0;
  padding: var(--grid-column-gap);
  color: var(--color-black);
  background-color: var(--color-white);
  z-index: 199;
}

.grid-container {
  display: grid;
  gap: var(--grid-column-gap);
  grid-template-columns: var(--grid-columns);
  grid-template-areas: 'logo logo . nav nav . . . . . contact contact';
}

.logo {
  grid-area: logo;
}

.logo span {
  display: block;
}

.nav {
  grid-area: nav;
}

.nav-item {
  display: inline-block;
  margin-left: 12px;
  color: var(--color-gray);
}

.nav-item.active {
  color: var(--color-black);
}

.contact-list {
  grid-area: contact;
  text-align: right;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .grid-container {
    grid-template-areas: 'logo logo nav nav';
  }

  .nav {
    position: relative;
  }

  .nav ol {
    position: absolute;
    top: 0;
    right: 0;
  }

  .contact-list {
    display: none;
  }
}
