.header {
  position: sticky;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: var(--color-white);
  z-index: 10;
}

.grid-container {
  display: grid;
  gap: var(--grid-column-gap);
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: 'logo logo nav nav . . . . . . contact contact';
}

.logo {
  grid-area: logo;
}

.nav {
  grid-area: nav;
}

.nav-item {
  /* display: inline-block;
  margin-right: 20px; */
  display: block;
  color: var(--color-gray);
}

.nav-item.active {
  color: var(--color-black);
}

.contact-list {
  grid-area: contact;
  text-align: right;
  display: flex;
  flex-direction: column;
}
