.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  padding-top: 12vh;
  /* background-color: var(--color-white); */
  background-color: rgba(28, 28, 28, 0.8);
  z-index: 200;
}

.container {
  width: 100%;
  height: calc((100vh - 12vh - 30px));
  top: 10px;
  overflow: hidden;
  padding: 20px;
  background-color: var(--color-light-gray);
  border: 1px solid var(--color-black);
  position: relative;
}

.btn-close {
  width: var(--font-medium);
  height: auto;
  position: absolute;
  top: var(--font-tiny);
  right: var(--font-micro);
}

.btn-close > img {
  width: 100%;
  height: 100%;
}

.content {
  margin-top: 5vh;
}
