.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(28, 28, 28, 0);
  z-index: 200;
  overflow: hidden;
  transition: all 0.5s;
  transition-delay: 0.2s;
  cursor: pointer;
}

.wrapper.active {
  background-color: rgba(28, 28, 28, 0.8);
}

.wrapper > .container {
  width: 100%;
  height: calc((100vh - 50px));
  position: relative;
  top: 50px;
  border-top-left-radius: var(--rounded-normal);
  border-top-right-radius: var(--rounded-normal);
  background-color: var(--color-white);
  transform: translateY(100vh);
  transition: transform 0.5s cubic-bezier(0.31, 0.82, 0.31, 1);
  cursor: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper.active > .container {
  transform: translateY(0vh);
}

.wrapper.active > .btn-close {
  transform: translateY(0vh);
}

.btn-close {
  position: fixed;
  right: calc(var(--grid-column-gap) * 2);
  bottom: calc(var(--grid-column-gap) * 2);
  width: calc(var(--grid-column-gap) * 2.4);
  height: calc(var(--grid-column-gap) * 2.4);
  transform: translateY(100vh);
  transition: transform 0.5s cubic-bezier(0.31, 0.82, 0.31, 1);
  z-index: 201;
}

.btn-close > img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .wrapper > .container {
    height: calc((100vh - 45px));
    top: 45px;
  }

  .btn-close {
    bottom: calc(var(--grid-column-gap) * 3);
  }
}
